@import "./Variables.scss";

.form-todo {
    width: 100%;
    background-color: $Very_Dark_Desaturated_Blue;
    border-radius: 5px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;

    input {
        width: 90%;
        background: transparent;
        outline: none;
        border: 0;
        font-size: 1.25rem;
        padding: 1.5rem 2rem 1.5rem 0;
        color: $Light_Grayish_Blue;
    }

    &::before {
        content: "";
        display: block;
        height: 30px;
        width: 30px;
        border: 1px solid $Very_Dark_Grayish_Blue;
        border-radius: 100%;
        margin-right: 2rem;
    }
}