@import "./Variables.scss";

.list-item {
    padding: 1.325rem 2rem;
    color: $Light_Grayish_Blue;
    border-bottom: 1px solid $Very_Dark_Grayish_Blue;
    display: flex;
    align-items: center;
    transition: .2s ease-in-out all;
    position: relative;
    font-size: 1.25rem;

    img {
        margin-left: auto;
        opacity: 0;
        transition: .3s ease-in-out all;
    }

    &::before {
        content: "";
        display: block;
        height: 30px;
        width: 30px;
        border: 2px solid $Very_Dark_Grayish_Blue;
        background: transparent;
        border-radius: 100%;
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: relative;
    }

    &::after {
        content: url('../images/icon-check.svg');
        background: $background_grad;
        display: block;
        height: 34px;
        width: 34px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2rem;
        z-index: 1;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &::before,
    &::after {
        transition: .3s ease-in-out all;
    }

    &:hover {
        color: $Light_Grayish_Blue_Hover;
        cursor: pointer;

        img {
            opacity: 1;
        }

        &::before {
            // border-radius: 50px; /*1*/
            border: 2px solid transparent; /*2*/
            background: $background_grad border-box; /*3*/
            -webkit-mask: /*4*/
               linear-gradient(#fff 0 0) padding-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor; /*5'*/
                    mask-composite: exclude; /*5*/
        }
    }

    &.completed {
        p {
            text-decoration: line-through;
            color: $Darker_Grayish_Blue;
        }

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }
}