// Colors

$bright_blue: hsl(220, 98%, 61%);
$background_grad: linear-gradient(180deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Light Theme

$light_gray: hsl(0, 0%, 98%);
$v_light_grayish_blue: hsl(236, 33%, 92%); 
$light_grayish_blue: hsl(233, 11%, 84%);
$dark_grayish_blue: hsl(236, 9%, 61%);
$very_dark_grayish_blue: hsl(235, 19%, 35%);

// Dark Theme

$Very_Dark_Blue: hsl(235, 21%, 11%);
$Very_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
$Light_Grayish_Blue: hsl(234, 39%, 85%);
$Light_Grayish_Blue_Hover: hsl(236, 33%, 92%);
$Dark_Grayish_Blue: hsl(234, 11%, 52%);
$Darker_Grayish_Blue: hsl(233, 14%, 35%);
$Very_Dark_Grayish_Blue: hsl(237, 14%, 26%);